# Touch keypad toggle via property
on property:persist.vendor.touchkeypad.disabled=1
    write /sys/devices/touch_keypad/turn_off 1

on property:persist.vendor.touchkeypad.disabled=0
    write /sys/devices/touch_keypad/turn_off 0
